html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    margin-top: 60px;
    margin-bottom: 20px;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body header h1 {
    background-color: #b8b8b8;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #df3131;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h2{
    background-color: #ee2626;
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #d6d4d4;
    color: #333;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    align-items: left;
}

nav ul li {
   background-color: #df3131;
   outline: oldlace;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a {
    color: #ffffff;
    text-decoration:none;
}

footer {
    background-color: #b8b8b8;
    color: #333;
    padding: 0.4em 5%;
    font-size: 0.75em;
    font-style: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    border-top: 2px solid #df3131;

}

/*Custom Classes*/
.intro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: orangered;
}

.intro h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.intro p {
    text-justify: justify;
}

.updates {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1500px;
}

.updates h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}

.update-item {
    background-color: rgb(236, 236, 236);
     padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1500px;
}

.update-item h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #df3131;
    font-size: 1.2em;
    text-align: left;
}

.update-item h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #a71d1d;
    font-size: 0.8em;
    margin-bottom: 10px;
    text-align: left;
}

.update-item p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: justify;
}

/* Botões - Updates */
.updates nav {
    background-color: #ffffff;
    color: #333;
    padding: 15px;
    text-align: center;
}

.updates nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    align-items: left;
}

.updates nav ul li {
   background-color: #df3131;
   outline: oldlace;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.updates nav ul li a {
    color: #ffffff;
    text-decoration:none;
}

.update-item nav {
    background-color: rgb(236, 236, 236);
    color: #333;
    padding: 15px;
    text-align: center;
}

.update-item nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    align-items: left;
}

.update-item nav ul li {
   background-color: #df3131;
   outline: oldlace;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.update-item nav ul li a {
    color: #ffffff;
    text-decoration:none;
}